@model FinalProject.Models.SearchViewModel

@{
    ViewData["Title"] = "DetailedSearch";
}

<h1>Detailed Search</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DisplaySearchResults">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SearchTitle" class="control-label"></label>
                <input asp-for="SearchTitle" class="form-control" />
                <span asp-validation-for="SearchTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SearchTagline" class="control-label"></label>
                <input asp-for="SearchTagline" class="form-control" />
                <span asp-validation-for="SearchTagline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedGenre" class="control-label"></label>
                @Html.DropDownListFor(model => model.SelectedGenre, (SelectList)ViewBag.AllGenres, new { @class = "form-control" })
                <span asp-validation-for="SelectedGenre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SearchReleaseYear" class="control-label"></label>
                <input asp-for="SearchReleaseYear" class="form-control" />
                <span asp-validation-for="SearchReleaseYear" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="SearchReview" class="control-label"></label><br />
                <input type="radio" asp-for="SearchReview" value="@SearchType.GreaterThan" /> Greater Than
                <input type="radio" asp-for="SearchReview" value="@SearchType.LessThan" /> Less Than
            </div>
            <div class="form-group">
                <label asp-for="SearchType" class="control-label"></label><br />
                <input type="radio" asp-for="SearchType" value="@SearchType.GreaterThan" /> Greater Than
                <input type="radio" asp-for="SearchType" value="@SearchType.LessThan" /> Less Than
            </div>
            -->
            <div class="form-group">
                <label asp-for="SearchRating" class="control-label"></label>
                <input asp-for="SearchRating" class="form-control" />
                <span asp-validation-for="SearchRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedActors" class="control-label"></label>
                <input asp-for="SelectedActors" class="form-control" />
                <span asp-validation-for="SelectedActors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
